# Dependencies
/node_modules

# Build output
/dist
/out-tsc
/.angular

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Firebase
.firebase
firebase-debug.log
.runtimeconfig.json

# Environment / secrets
src/environments/environment.local.ts
